<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Корпус Сорокина</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
    <form action="my_opros.html" target="_blank">
        <br>
   <button class="lit">Вернуться на главную страницу</button>
  </form>
</head>
<body>
    <menu class="instr">
    <title>Список тегов</title>


    <h1>Список тегов</h1>
         <br>
        <br>
             <p><font size="2" color="#2F4F4F" face="fantasy">

    <p>A	прилагательное</p>
    <p>ADV	наречие</p>

				         <p>ADVPRO	местоименное наречие</p>

				         <p>ANUM	числительное-прилагательное</p>

				         <p>APRO	местоимение-прилагательное</p>

				         <p>COM	часть композита - сложного слова</p>

				         <p>CONJ	союз</p>

				         <p>INTJ	междометие</p>

				         <p>NUM	числительное</p>

				         <p>PART	частица</p>

				         <p>PR	предлог</p>

				         <p>S	существительное</p>

				         <p>SPRO	местоимение-существительное</p>

				         <p>V	глагол</p>

        <br>
        <br>
<a class='ignore' href="https://yandex.ru/dev/mystem/">Разметка выполнена при помощи MyStem</a>
        </font></p>
        <br>

        <br>
        <br>


        </menu>
</body>
</html>