<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Статистика</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body class="body1">
        <div class="menu">
             <form action="my_opros.html" target="_blank">
        <br>
   <button class="lit">Вернуться на главную страницу</button>
  </form>
        </div>
        <br>
<h2><img src="../static/10pos.jpg" alt=""></h2>
        <br>
        <br>
        <h2><img src="../static/15adj.jpg" alt=""></h2>
        <br>
        <br>
    <img src="../static/nouns.png" alt="">
    </body>
</html>