<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Биография писателя</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>

      <form action="my_opros.html" target="_blank">
   <button>Вернуться на главную страницу</button>
  </form>
        <div class="menu">

        </div>

    <h2>Биография писателя</h2>

    <br>
    <br>
    <br>

    <p> Владимир Георгиевич Сорокин родился 7 августа 1955 года в подмосковном городке Быково.
        В 1977 году окончил Московский институт нефти и газа имени Губкина по специальности инженер-механик.
        Занимался книжной графикой, живописью, концептуальным искусством. Участник художественных выставок.
Как литератор сформировался среди художников и писателей московского андерграунда начала 80-х.
        Первая публикация произошла в 1985 году в эмигрантском парижском издательстве «Синтаксис»: роман «Очередь» вышел сначала по-русски,
        а потом был переведен почти на все европейские языки.
Книги Сорокина вызывали бурные дискуссии в СМИ, споры, а иногда и судебные разбирательства («Голубое сало», «Лед»).
        Наиболее известны книги «День опричника», «Ледяная трилогия», «Голубое сало», «Пир», «Сердца четырех», «Роман», «Норма», «Очередь».
Написал 12 пьес, опубликованных и поставленных в разное время на родине и за рубежом:
        «Доверие», «Hochzeitsreise», «Дисморфомания», «Землянка», «Пельмени», «Dostoevsky-Trip», «Юбилей», «Русская бабушка», «Щи», «С Новым Годом!», «Капитал», «Занос».
Книги Владимира Сорокина переведены на двадцать языков. На Западе его романы публиковались в таких издательствах, как Gallimard, Fischer, DuMont, BV Berlin, Einaudi, Ambo, NYRB, Farrar.
Кроме прозы Сорокин активно занимается кино и музыкальными проектами. Режиссёр А.Зельдович снял по его сценарию фильмы «Москва», «Мишень», И.Хржановский — фильм «4», «Дау». И.Дыховичный — фильм «Копейка». В 2003 году по заказу Большого театра РФ Сорокин написал либретто оперы «Дети Розенталя» на музыку Леонида Десятникова. Премьера состоялась в марте 2005 года в Москве, в Большом театре.
Член Российского ПЕН-центра с 1993 г.
В сентябре 2001 года Владимир Сорокин был удостоен премии Андрея Белого «За особые заслуги перед российской литературой». Также награжден американской премией Liberty (2005) за вклад в русско-американскую культуру и русско-итальянской премией Максима Горького за роман «Лед» (2010). В 2010 году за повесть «Метель» получил премию «НОС» (Новая Словесность). В 2011 году за эту же повесть получил премию «Большая книга».
Женат, имеет двух дочек-близнецов.
        Живет в Подмосковье.</p>
</head>
<body>

</body>
</html>