body {
  background-color: #B0C4DE;
}

a {
    float: left;
    display: block;
    color: black;
    padding: 40px 40px;
    text-decoration: none;
}

.menu {
    overflow: absolute;
    background-color: #778899;
    top: 0;
    width: 100%;
}

h2 {
      padding-left: 300px;
      text-transform: uppercase;
      color: black;
}

.content {
    font-style: italic;
    width: 40%;
    margin-top: 60px;
    margin-left: 10px;
}

p.col-md-6 {
    background-color: #708090;
    border-radius: 8px;
    padding: 20px 15px;
}
div.col-md-4 {
    padding: 20px 15px;
}
.submit {
    padding: 15px 15px;
    background-color: #00FA9A;
    border-radius: 8px;
}
.img{
    margin: 10px;
    padding: 0;
    position: relative;
    width:200px;
    height:200px;
}
.img img{
    position: absolute;
    left: 1250px;
    top: 0%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}
p.img{
    position: absolute;
    right: 110px;
    top: 226%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
    width:355px;
    height:355px;
}

.instr {
    overflow: absolute;
    padding-left: 550px;
    background-color: #E6E6FA;
    top: 0;
    width: 100%;
}

.ignore{
    position: absolute;
    left: 3px;

}
.lit{
    position: relative;
    left: 30px;


}
.sozdatel{
    position: absolute;
    left: 10px;

}
.body1 {
  background-color: #FFFFFF;
}
.btn-group{
    color: pink
    }
h1{
    padding-left: 100px
    }

